<h2>Company Comments</h2>

<p *ngIf="!comments"><b>Loading...</b></p>

<table class="table table-striped" *ngIf="comments">
    <thead>
        <tr>
            <th style="padding-bottom: 10px;">Comments:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let comment of comments">
            <div *ngIf="!comment.isEditing">
                <td>{{comment.text}}</td>
                <button class="bg-warning" btn (click)="onUpdate(comment)">Update</button>
                <button class="bg-danger" btn (click)="deleteComment(comment.id)">Delete</button>
            </div>
            <div *ngIf="comment.isEditing">
                <input [(ngModel)]="editCommentText">
                <button class="bg-success" (click)="updateComment(comment.id)">Save</button>
                <button class="bg-danger" (click)="onDelete(comment)">Cancel</button>
            </div>
        </tr>
    </tbody>
</table>
  
<div class="form-group">
    <label for="text" class="required">Add comment: </label>
    <input type="text" class="form-control" id="text" placeholder="Comment text" [(ngModel)]="newCommentText">
</div>
<button class="btn btn-success" type="button" (click)="onSubmit()">Add</button>
