table {
    /* border-collapse: collapse; */
    border-spacing: 30px 0;
    border: 1px solid black;
    margin-bottom: 20px;
  }

.required:after {
    content: "*";
    color: red;
}

tr {
  margin-bottom: 5px;
}